@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Charm');


body{
    background-image: url("https://cdn.discordapp.com/attachments/498436241637769217/523112411541143553/pexels-photo-1020754.png")
}
title{
    text-align: center;

}
h1{color: white;
font-family: 'Charm', cursive;
font-size: 200%;
width: 100%;
text-align: center;

}
h3{
    font-family: 'Charm', cursive;
    font-size: 200%;
    width: 100%;
    text-align: center;
    color: white; 
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

} 
p{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100%;
    color: white;
}
  
@import url('https://fonts.googleapis.com/css?family=Charm');
