/* Börja alltid en css-fil med följande rad:
@charset "utf-8";
*/
body{
    background-color: #1496BB

}
h1{color: white;
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 200%;
width: 100%;
text-align: center;

}
th{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100%; 

}
table{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 5px; 

}
h1{
    width: 300px;
    border: 5px solid white;
    padding: 20px;
    margin: 25px auto;

}
h2, h3, h4, h5, h6{
    width: 150px;
    border: 5px solid white;
    padding: 30px;
    margin: 25px;

}
p{
    width: 300px;
    border: 5px solid white;
    padding: 30px; 
    margin: 25px;
    
}
ol{
    width: 150px;
    border: 5px solid white;
    padding: 30px;
    margin: 25px;

}
td{
    border: white solid 2px;
    color: white;
    font-size: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 1 10px;

}
